
<footer>
  <div class="header">
    <div class="item-1 col-3 col-sm col-xm">
        <div class="content-1">
            <h1>Who We Are</h1>
            <p>It is a long established fact that a reader will 
                be distracted by the readable content of a 
                page when looking at its layout. The point 
                of using Lorem Ipsum is that it has a more-or-
                less normal distribution of letters.</p>
        </div>
    </div>
    <div class="item-2 col-2 col-sm col-xm">
        <div class="content-2">
            <h1>Contact Us</h1>
            <p><i class="fas fa-home"></i>Beauty and Fashion Accessories</p>
            <article>
                Bir Uttam C. R. Dutta Road (new), Karwan Bazar Dhaka, Dhaka-1205
                info@fashionaccessories.com
                01979-733777
            </article>
        </div>
    </div>
    <div class="item-3 col-2 col-sm col-xm">
        <div class="content-3">
            <h1>Pages</h1>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Terms and Conditions</a>
        </div>
    </div>

    <div class="item-4 col-5 col-sm col-xm">
        <div class="content-4">
                <h1>SIGN UP TO NEWSLETTER</h1>
            <div class="input-group col-xs-8">
                    <input >
                <div class="input-group-append">
                    <button class="input-group-text" id="basic-addon2">SUBSCRIBE</button>	
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="footer">
    <div class="col-4 col-sm col-xm">
        <div class="contanet-1">
            <img src="" style="width: 90%">
        </div>
    </div>

    <div class="col-4 col-sm col-xm">
        <div class="contanet-3 col-sm-6 col-xm-12">
            <div class="icon">
                <a href="#" class="icon-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon-link"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-xm">
        <div class="contanet-2">
            <span>© 2019 by Beauty and Fashion Accessories Powered by Storrea</span>
        </div>
    </div>
</div>
</footer>
    
