.header{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    .col-3{
        grid-column: span 3;
    }
    .col-2{
        grid-column: span 2;
    }
    .col-4{
        grid-column: span 4;
    }
    .col-5{
        grid-column: span 5;
    }
}

.footer{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
    .col-3{
        grid-column: span 3;
    }
    .col-2{
        grid-column: span 2;
    }
    .col-4{
        grid-column: span 4;
    }
    .col-5{
        grid-column: span 5;
    }
    .col-12{
        grid-column: span 12;
        text-align: center;
    }
}
@media (max-width: 959px){
    .col-sm{
        grid-column: span 6 !important;
        padding: 0 12px;
    }
}
@media (max-width: 600px){
    .col-xm{
        grid-column: span 12 !important;
        text-align: center;
        padding: 0 12px;
    }
}